<h1> <%= @beer.name%>  </h1>

<ul>
<li><strong>Beer style:</strong> <%= @beer.beer_style.name%> </li>
<li><strong>Abv:</strong> <%= @beer.abv * 100%>%</li>
<li><strong>Ibu:</strong> <%= @beer.ibu%> </li>
<li><strong>Size:</strong> <%= @beer.beer_size.size%> oz.</li>
<li><strong>Brewery:</strong> <%= @beer.brewery.name%> </li>
<li><strong>Location:</strong> <%= @beer.city.name%> </li>
</ul>

<p> <%= link_to 'Beers', beers_path %>