<!DOCTYPE html>
<html>
  <head>
    <title>CraftBeer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Breweris', breweries_path %></li>
        <li><%= link_to 'About', '/pages/about' %></li>

      </ul>
    </nav>
 </header>

    <%= yield %>
  </body>
</html>
